---
projects:
    - name: Density-based Clustering for Tolling Zone Definition
      links:
        - link: https://www.sciencedirect.com/science/article/abs/pii/S0968090X20306008?dgcid=author
          title: Trans. Res. Part C 2020
          type: pub
        - link: https://www.researchgate.net/publication/343532602_Feature-variant_clustering_methods_for_tolling_zone_definition_and_their_impact_on_distance-based_toll_optimization
          title: TRB 2020
          type: pub
      image: imgs/BCBCD_network.png

    - name: Region-based Urban Traffic Management
      links:
        - link: https://ieeexplore.ieee.org/abstract/document/8917309
          title: ITSC 2019
          type: pub
          link: https://www.sciencedirect.com/science/article/abs/pii/S0968090X18300068
          title: Trans. Res. Part C 2018
          type: pub
        - link: https://dr.ntu.edu.sg/bitstream/10356/75886/1/G1103343B%20Antonios%20Lentzakis%20PhD%20Thesis.pdf
          title: PhD Thesis
          type: pub
      image: imgs/region-based.png

    - name: NTU-NXP Smart Mobility Test Bed
      links:
        - link: https://www.youtube.com/watch?v=tRP420yvqD0
          title: Speed-profile dependent shortest path algorithm Demo
          type: video
      image: imgs/ntu-nxp.png

    - name: RENAISSANCE
      links:
        - link: http://artemis.library.tuc.gr/MT2009-0060/MT2009-0060.pdf
          title: Master Thesis
          type: pub
      image: imgs/renaissance.jpg

    - name: Work zone management
      links:
        - link: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.631.7902&rep=rep1&type=pdf
          title: TRB 2008
          type: pub
        - link: https://www.sciencedirect.com/science/article/abs/pii/S0968090X07000873
          title: Trans. Res. Part C 2008
          type: pub
      image: imgs/work-zone.png
---
<!DOCTYPE HTML>
<html>
	<head>
		<title>Antonis F. Lentzakis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="shortcut icon" href="/favicon.ico"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42869545-2', 'auto');
            ga('send', 'pageview');
        </script>
	</head>
	<body>

		<!-- Header -->
        <section id="header">
            <header>
                <span class="image avatar"><img src="/imgs/me-new.jpg" alt="" /></span>
                <h1 id="logo">Antonis F. Lentzakis</h1>
                <p>
                    Postdoctoral Research Associate at SMART/FM IRG<br/>
                    Interested in traffic modeling, management and simulation
                </p>
            </header>
            <nav id="nav">
                <ul>
                    <li><a href="#one" class="active">Bio</a></li>
                    <li><a href="#two">Projects</a></li>
                    <li><a href="#three">Publications</a></li>
                    <li><a href="#four">Contact</a></li>
                    <li><a href="/cv.pdf">CV</a></li>
                </ul>
            </nav>
        </section>

        <div id="wrapper">
            <div id="main">
                <section id="one">
                    <div class="container">
                        <header class="major">
                            <h2>Bio</h2>
                        </header>
                        <p align="justify">Antonis F. Lentzakis is a Postdoctoral Research Associate at the Future Urban Mobility IRG, part of Singapore-MIT Alliance for Research and Technology (SMART/FM). His current research focuses on the extension and enhancement of DynaMIT2.0, a system that employs simulation-based Dynamic Traffic Assignment (DTA), for traffic estimation, prediction, and control, developed by the MIT Intelligent Transportation Systems Lab. He holds a PhD in Electrical and Electronic Engineering from Nanyang Technological University, a MSc in Operations Research and Production Engineering & Management from the Technical University of Crete.</p>
                    </div>
                </section>

                <section id="two">
                    <div class="container">
                        <h2>Projects</h2>
                        <div class="features">
                              <article>
    <a href="#" class="image"><img src="imgs/BCBCD_network.png" alt="" /></a>
    <div class="inner">
        <h4>
            Clustering for Tolling Zone Definition
        </h4>
        <p>
            <!--  <br/> -->
            
            Publications:
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0968090X20306008?dgcid=author">Trans. Res. Part C 2020</a>, <a href="https://www.researchgate.net/publication/343532602_Feature-variant_clustering_methods_for_tolling_zone_definition_and_their_impact_on_distance-based_toll_optimization">TRB 2020</a>
            
            
            <br/>
			</p>
			</div>
</article>
                            
                            <article>
    <a href="#" class="image"><img src="imgs/region-based.png" alt="" /></a>
    <div class="inner">
        <h4>
            Region-based Urban Traffic Management
        </h4>
        <p>
            <!--  <br/> -->
            
            Publications:
            <a href="https://ieeexplore.ieee.org/abstract/document/8917309">ITSC 2019</a>, <a href="https://www.sciencedirect.com/science/article/abs/pii/S0968090X18300068">Trans. Res. Part C 2018</a>, <a href="https://ieeexplore.ieee.org/abstract/document/7795750">ITSC 2016</a>, <a href="https://ieeexplore.ieee.org/abstract/document/7505383">ICCA 2016</a>, <a href="https://ieeexplore.ieee.org/abstract/document/7064361">ICARCV 2014</a>

        </p>
    </div>
                        </div>
                    </div>
                </section>

                <section id="three">
                    <div class="container"/>
                        <h2>Publications</h2>
                        <div class="features"/>
                            <h3>Journals</h3>
                            <ol>
                                {% for pub in journals %}
                                <li>{{ pub }}</li>
                                {% endfor %}
                            </ol>
                            <h3>Conferences</h3>
                            <ol>
                                {% for pub in conferences %}
                                <li>{{ pub }}</li>
                                {% endfor %}
                            </ol>
                            <h3>Theses</h3>
                            <ol>
                                {% for pub in theses %}
                                <li>{{ pub }}</li>
                                {% endfor %}
                            </ol>
                            {% if other %}
                            <h3>Posters & Presentations</h3>
                            <ol>
                                {% for pub in other_pubs %}
                                <li>{{ pub }}</li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                    </div>
                </section>

                <section id="four">
                    <div class="container">
                        <h3>Contact</h3>
                        <ul class="feature-icons">
                            <li class="icon fa-github">
                                <a href="http://github.com/antonios001">
                                    @antonios001
                                </a>
                            </li>
                            <li class="icon fa-envelope">
                                antonios001 [at] e [dot] ntu [dot] edu [dot] sg
                            </li>
                            <li class="icon fa-book">
                                <a href="https://scholar.google.com/citations?user=frHFPIIAAAAJ&hl=en&oi=ao"/>
                                    Google Scholar
                                </a>
                            </li>
                                <li class="icon fa-linkedin">
                                    <a href="https://www.linkedin.com/in/antonis-f-lentzakis-phd"/>
                                        LinkedIn
                                    </a>
                            </li>

                        </ul>
                    </div>
                </section>

			</div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollzer.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
